<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EXP.Mapping.Properties.Settings.ExempleMKSConnectionString"
            connectionString="Data Source=STEPHANEALIEN\SQLEXPRESS;Initial Catalog=ExempleMKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>